* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body
  {
    background: #7f8fa6;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  a
  {
    text-decoration: none;
    color: black;
  }
  
  #app
  {
    background: #f29c2b;
    background: #f6d04d;
    border: 2px solid black;
    box-shadow: 10px 10px 3px #00000042;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 20px;
    flex: auto; 
  }
  
  #top
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background: #8bc24c;
    border-bottom: 3px solid black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-family: Acme;
  }
  
  #top > *
  {
    flex: 0 0 33.3%;
  }
  
  #top .top-button
  {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    border: 2px solid black;
    border-radius: 10px;
    background: #fbc531;
    font-style: italic;
  }
  #top .top-button:hover
  {
    background: #6c5ce7;
    cursor: pointer;
  }
  
  #top h1
  {
    text-align: center;
    font-family: Oswald;
  }
  
  #top ul
  {
    display: flex;
    list-style: none;
  }
  
#top ul li
{
    margin: 0 10px;
}
  
#top p 
{
    display: flex;
    justify-content: flex-end;
}

.content
{
  border-bottom: 3px solid black;
  display: flex;
}

#video
{
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#yt-frame
{
    margin-bottom: 20px;
    
}
#video div 
{
    background: #7f8fa6;
    border-radius: 10px;
    border: 3px solid black;

}
#video div img
{
    margin: 20px; 
    border: 3px solid black;
    border-radius: 5px;
}

#recomm
{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    flex: 0 1 300px;
}



.sport-card
{
  flex: 0 1;
  max-width: 290px;
  /* max-height: 248px; */
  border: 3px solid black;
  background: #f29c2b;
  margin-bottom: 30px;
  border-radius: 10px;
}

.sport-card img
{
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.sport-card h3
{
  text-align: center;
  font-family: Permanent Marker;
  margin-top: -6px;
}

#bot
{
  text-align: center;
  padding: 20px 0px;
  background: #8bc24c;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#bot p
{
  font-family: Acme;
}